@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Bebas neue, sans-serif;
  background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  letter-spacing: 5px;
  color: white;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255, 255, 0.8);
 }

 .loader img {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
 }

.image-container {
  margin: 10px 30%;
  box-shadow: 0 5px 10px 10px rgba(255,255,255,0.6);
  text-align: center;
  border-radius: 5px;
}

.image-container img {
  width: 95%;
  margin-top: 20px;
  transition: all 0.3s;
  border-radius: 5px;
  filter: brightness(75%);
}

img:hover {
  transform: scale(1.05);
  filter: brightness(100%);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;;
  }

  .image-container {
    margin: 10px;
  }
}
